<!doctype html>
<html lang="en">
  <head>
    <title>Step Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="unsafe-url" />

    <link rel="stylesheet" href="/dist/styles.min.css">
    <base href="/">
  </head>

  <body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Flight Test</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control js-search-input" placeholder="Search flights...">
        </div>
        <button type="submit" class="btn btn-default js-search-btn">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="content-wrapper">
